@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: #f4f3ef !important;
}

button {
    letter-spacing: 2px;
    font-size: 0.875rem !important;
    text-transform: uppercase !important;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    width: 200px;
    background: #212121;
    color: white;
    position: fixed;
    z-index: 999;
}

.sidebar .logo {
    text-align: center;
    font-size: 1.25rem;
    margin: 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
}

.sidebar .links a {
    color: white;
    text-decoration: none;
}

.sidebar .links a:hover {
    color: #09d3ac;
}

.sidebar .links .link {
    margin: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.sidebar .links .link i {
    width: 25px;
    text-align: center;
}

.sidebar .user {
    font-size: 0.875rem;
    letter-spacing: -0.25px;
    text-align: center;
    line-height: 25px;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.sidebar .user span.username, .sidebar .user span.balance {
    font-weight: bold;
    color: #09d3ac;
}

.sidebar .user .currency {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #09d3ac;
}

.sidebar .user .currency.isPresent {
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #09d3ac;
}

/* DASHBOARD */

.dashboard {
    min-width: 100vw;
    min-height: 100vh;
    background: #f4f3ef;
}

.dashboard .content {
    margin-left: 200px;
}

/* MARKET */

.currencyList {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.currencyList .currencyItem {
    border: 1px solid #282c3450;
    box-shadow: 1px 1px 3px #282c3450;
    margin: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    min-height: 150px;
    padding: 10px;
}

.currencyList .currencyItem .header {
    line-height: 50px;
}

.currencyList .currencyItem img {
    max-width: 20px;
    margin: 10px;
}

.currencyList .currencyItem .name {
    display: inline;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 30px;
}

.currencyList .currencyItem span.fullName,
.currencyList .currencyItem .currentPrice,
.currencyList .currencyItem .marketCap,
.currencyList .currencyItem .max24h,
.currencyList .currencyItem .min24h {
    font-size: 0.75rem;
}

.currencyList .currencyItem .buyRow {
    margin-top: 5px;
}

.currencyList .currencyItem .buyRow .inputAmount, .currencyList .currencyItem .buyRow button.btn {
    display: inline;
}

.currencyList .currencyItem .buyRow button.btn{
    margin-top: -5px;
}

.currencyList .currencyItem .buyRow .inputAmount{
    width: 50%;
    height: 31px;
    line-height: 31px;
    margin-top: 4px;
    margin-right: 5px;
}

/*! REGISTER !*/

.register {
    margin: 0 auto;
    margin-top: 100px;
    width: 300px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #00000050;
    padding: 15px;
}

.register button {
    margin-top: 15px;
}

.register label {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-bottom: 0px;
}

.register a {
    font-size: 0.875rem;
}

.register .buttonContainer {
    text-align: center;
}
